<!DOCTYPE html>
<script type="text/javascript">
    function update() {
        xhttp = new XMLHttpRequest();
        xhttp.open("POST", "test", true)
        xhttp.setRequestHeader("Content-Type", "text/plain");
        alert(document.getElementById("colorPicker").value)
        xhttp.send(document.getElementById("colorPicker").value);
    }
</script>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <input onchange="update()" type="color" id="colorPicker">
</body>
</html>
